# Peer Graded Assignment 2

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np

## Reading Dataset

In [2]:
df = pd.read_excel('Data_Science_Capstone.xlsx')

## Printing Dataset

In [3]:
df

,Postal Code,Borough,Neighbourhood
0,M9Z,Not assigned,Not assigned
1,M9Y,Not assigned,Not assigned
2,M9X,Not assigned,Not assigned
3,M9W,Etobicoke,"Northwest, West Humber - Clairville"
4,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
...,...,...,...
175,M1G,Scarborough,Woburn
176,M1E,Scarborough,"Guildwood, Morningside, West Hill"
177,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
178,M1B,Scarborough,"Malvern, Rouge"
179,M1A,Not assigned,Not assigned

## Making new dataset without the 'Not assigned' items

In [6]:
dt = df[df.Borough != 'Not assigned']

## Printing new dataset

In [7]:
dt

,Postal Code,Borough,Neighbourhood
3,M9W,Etobicoke,"Northwest, West Humber - Clairville"
4,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
7,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
8,M9P,Etobicoke,Westmount
9,M9N,York,Weston
...,...,...,...
174,M1H,Scarborough,Cedarbrae
175,M1G,Scarborough,Woburn
176,M1E,Scarborough,"Guildwood, Morningside, West Hill"
177,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
178,M1B,Scarborough,"Malvern, Rouge"

## Checking for empty Neighboorhood values

In [14]:
print(dt[dt['Neighbourhood']=='Not assigned'])

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

## Printing shape of new dataset

In [15]:
print(dt.shape)

(103, 3)